NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyAV551Pqzyjsut9x0Z_QDHSStWBwnEu7Gk
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=threadly-clothing-store.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=threadly-clothing-store
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=threadly-clothing-store.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=883728955218
NEXT_PUBLIC_FIREBASE_APP_ID=1:883728955218:web:6c277bace31e3220282c8b
NEXT_PUBLIC_ADMIN_EMAIL=kanchinagababu6@gmail.com

